<h1>ALL THE CATS</h1>
<% @cats.each do |cat| %>
  <p>
    <a href="/cats/<%= cat.id %>"><%= cat.name %></a>
    <% if cat.owner %>
      <%= " is owned by #{cat.owner.fname} #{cat.owner.lname}" %>
    <% else %>
      is a filthy stray!
    <% end %>
  </p>
<% end %>
<a href="/cats/new">New cat!</a>
